
#постоянно что-то в себе меняет папка эта автоматически, потом коммиты полные мусора получаются, а толку никакого
Library/

# для локального тестирования разраб папку сделал, не обязательно
Temp/

# всякие файлы создаваемые IDE на гите не нужны, у каждого свое IDE
./*.sln
./*.csproj
./*.userprefs
*.sln
*.csproj

# конфиги пользовательские у каждого свои
*.userprefs

# стандартные модули включенные в любой проект, вырезать и вставлять их в остальную часть проекта по использованию.
Assets/Resources